
<div class="container pt-5 w-50">
    <h1 class="text-start">Stupid Coaching</h1>
</div>

<div class="container w-50">
  <div class="justify-content-center">
    <p>Ask your coach anything:</p>
    <form action="/answer" data-turbo="false" method="get" class="d-flex">
      <%# <label for="quetionInput" class="input">Ask your coach anything:</label> %>
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </form>
  </div>
</div>
